<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sobe-heading" data-cy="SobeCreateUpdateHeading" jhiTranslate="hoteliApp.sobe.home.createLabel" *ngIf="!definisano">
        Create or edit a Sobe
      </h2>
      <h2 id="jhi-sobe-heading1" data-cy="SobeCreateUpdateHeading" jhiTranslate="hoteliApp.sobe.home.createOrEditLabel" *ngIf="definisano">
        Izmjeni podatke sobe
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hoteliApp.sobe.brojSobe" for="field_brojSobe">Broj Sobe</label>
          <input type="number" class="form-control" name="brojSobe" id="field_brojSobe" data-cy="brojSobe" formControlName="brojSobe" />
          <div *ngIf="editForm.get('brojSobe')!.invalid && (editForm.get('brojSobe')!.dirty || editForm.get('brojSobe')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('brojSobe')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('brojSobe')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hoteliApp.sobe.cijena" for="field_cijena">Cijena</label>
          <input type="number" class="form-control" name="cijena" id="field_cijena" data-cy="cijena" formControlName="cijena" />
          <div *ngIf="editForm.get('cijena')!.invalid && (editForm.get('cijena')!.dirty || editForm.get('cijena')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cijena')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('cijena')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
