<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rezervacije">
      <h2 data-cy="rezervacijeDetailsHeading"><span jhiTranslate="hoteliApp.rezervacije.detail.title">Rezervacije</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rezervacije.id }}</span>
        </dd>
        <dt><span jhiTranslate="hoteliApp.rezervacije.brojSobe">Broj Sobe</span></dt>
        <dd>
          <span>{{ rezervacije.brojSobe }}</span>
        </dd>
        <dt><span jhiTranslate="hoteliApp.rezervacije.datumDolaska">Datum Dolaska</span></dt>
        <dd>
          <span>{{ rezervacije.datumDolaska | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="hoteliApp.rezervacije.datumOdlaska">Datum Odlaska</span></dt>
        <dd>
          <span>{{ rezervacije.datumOdlaska | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rezervacije', rezervacije.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
