<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tabela-raspolozivosti-soba-heading"
        data-cy="TabelaRaspolozivostiSobaCreateUpdateHeading"
        jhiTranslate="hoteliApp.tabelaRaspolozivostiSoba.home.createOrEditLabel"
      >
        Create or edit a Tabela Raspolozivosti Soba
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hoteliApp.tabelaRaspolozivostiSoba.brojSobe" for="field_brojSobe">Broj Sobe</label>
          <input type="number" class="form-control" name="brojSobe" id="field_brojSobe" data-cy="brojSobe" formControlName="brojSobe" />
          <div *ngIf="editForm.get('brojSobe')!.invalid && (editForm.get('brojSobe')!.dirty || editForm.get('brojSobe')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('brojSobe')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('brojSobe')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hoteliApp.tabelaRaspolozivostiSoba.datumDolaska" for="field_datumDolaska"
            >Datum Dolaska</label
          >
          <div class="input-group">
            <input
              id="field_datumDolaska"
              data-cy="datumDolaska"
              type="text"
              class="form-control"
              name="datumDolaska"
              ngbDatepicker
              #datumDolaskaDp="ngbDatepicker"
              formControlName="datumDolaska"
            />
            <button type="button" class="btn btn-secondary" (click)="datumDolaskaDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hoteliApp.tabelaRaspolozivostiSoba.datumOdlaska" for="field_datumOdlaska"
            >Datum Odlaska</label
          >
          <div class="input-group">
            <input
              id="field_datumOdlaska"
              data-cy="datumOdlaska"
              type="text"
              class="form-control"
              name="datumOdlaska"
              ngbDatepicker
              #datumOdlaskaDp="ngbDatepicker"
              formControlName="datumOdlaska"
            />
            <button type="button" class="btn btn-secondary" (click)="datumOdlaskaDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
