<div>
  <h2 id="page-heading" data-cy="RezervacijeHeading">
    <span jhiTranslate="hoteliApp.rezervacije.home.title">Rezervacijes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hoteliApp.rezervacije.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rezervacije"
        [routerLink]="['/rezervacije/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hoteliApp.rezervacije.home.createLabel"> Create a new Rezervacije </span>
      </button>
    </div>
    <div>
      <button class="btn btn-primary" (click)="rezervacije()">Nadji</button>
      <input class="form-control input-sm" type="date" [(ngModel)]="dolazak" />
      <input class="form-control input-sm" type="date" [(ngModel)]="odlazak" />
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rezervacijes?.length === 0">
    <span jhiTranslate="hoteliApp.rezervacije.home.notFound">No rezervacijes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rezervacijes && rezervacijes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="brojSobe">
            <span jhiTranslate="hoteliApp.rezervacije.brojSobe">Broj Sobe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datumDolaska">
            <span jhiTranslate="hoteliApp.rezervacije.datumDolaska">Datum Dolaska</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datumOdlaska">
            <span jhiTranslate="hoteliApp.rezervacije.datumOdlaska">Datum Odlaska</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rezervacije of rezervacijes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rezervacije', rezervacije.id, 'view']">{{ rezervacije.id }}</a>
          </td>
          <td>{{ rezervacije.brojSobe }}</td>
          <td>{{ rezervacije.datumDolaska }}</td>
          <td>{{ rezervacije.datumOdlaska }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/rezervacije', rezervacije.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/rezervacije', rezervacije.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(rezervacije)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="rezervacijes && rezervacijes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
